{% extends 'layout.html.twig' %}

{% block content %}
    
    <form method="POST" action="Compare/Play/test2/{{picture2}}" enctype="multipart/form-data">
        <input type="file" name="image" >
         <button name="send"> Send</button> 
    </form>

    {% for picture in pictures %}
        <figure>
            <img src="{{picture}}">
            <figcaption>View of Hell n° {{loop.index}}</figcaption>
        </figure>
    {% endfor %}
    
{% endblock %}
