{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>

    {% for picture in pictures %}
        <figure>
            <img src="{{picture}}">
            <figcaption>View of Hell n° {{loop.index}}</figcaption>
        </figure>
    {% endfor %}
    
{% endblock %}
