{% extends "layout.html.twig" %}

{% block content %}

<p>Dissimilarity of the pictures : {{dissimilarity}}</p>

{% if dissimilarity == 0 %}
<p>Good job ! Go drink oil.</p>
{% else %}
<p>Keep looking for lazy bots</p>
{% endif %}


<img src="/{{picture1}}" >
<img src="/{{picture2}}" >
  
{% endblock %}

